body {
	/*background-color: #F1F3F5;*/
}

/*tamaño seccion content toma tamaño screen*/
.style-alt #page-content {
    min-height: calc(100vh - 6.5em);
}


/*nav samll*/
.nav.navbar-nav-custom > li > a {
	line-height: 0px; 
}

.nav.navbar-nav-custom > li {
    min-height: 20px;
}

.navbar {
    min-height: 20px;	
}


/* img banner fix */
.content-header-media > img {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 215px;
     margin-left: 0;
}

.header-section-bc {
	min-height: 105px;
}

/*fix content banner*/
.content-header-media {
    height: 125px;
}



/*widget catalogo*/

.header-theme-bc-widget {
	background-color: #93BAC0;
}

.theme-banco-central {
	background-color: #93BAC0;
}

.widget-catalogo {
	background-color: #93BAC0;;
}

.widget-simple-bc-bg {

	background-color: white !important;
	color:  #93BAC0;;

}


.widget-simple-bc, .widget-simple-bc:hover {

	color: white !important;
	padding-left: 50px;
}

 .icon-wg  {
	color: white !important;
	font-size: 50px;
	padding-left: 50px;
 	}

.widget-simple-bc-leyend {
	color: white;
}


.widget-eval > a {
	 height: 100px;
    width: 100%;
    background-color: #93BAC0 !important;
    color: white !important;
}



/*tab horiontal menu*/

.row-catalogo {
	padding: 0px 1px 1px 1px;
    padding-bottom: 25;
}

.tab-bc {
	width: 50%;
    background-color: #93BAC0;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
}

.tab-bc a:hover{
	color: #93BAC0 !important;
}

.tab-bc a {
	color: white ;
}

.active.tab-bc  a {
	color: #93BAC0 !important;
}

.fix-tabs {
    border-bottom: none;
}

.tab-pane {
	background-color: white;
}

.menu-bc {
	height: 70px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

/*catalogo menu home*/

.catalogo-lista-home {
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:1px;
    padding-right:1px;
}

.one-menu a, .one-menu a>i {
 color: #E98300;
}

.one-menu:hover a, .one-menu:hover a>i{
	background-color: #E98300;
}

.two-menu a, .two-menu a>i {
 color: #1bbae1;
}

.two-menu:hover a, .two-menu:hover a>i {
 background-color: #1bbae1;
}

.three-menu a, .three-menu a>i {
 color: #93BAC0;
}

.three-menu:hover a, .three-menu:hover a>i {
 background-color: #93BAC0;
}

.catalogo-menu {
    color: #63939A;
   font-weight: 600;
    padding: 8px;
}

.catalogo-menu:hover {
    background-color: #93BAC0;
    color: white !important;
}

.catalogo-menu:focus {
    color: #93BAC0;
    padding: 8px;
}


.modal-catalogo-op {
    padding-top: 20px;
    border-radius: 20px;
    background-color: #f9fafc;
    color: #63939A  ;
    font-weight: 600;
    min-height: 225px;
}

.catalogo-op-desc {
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 2px;
}

.bc-text {
    color: #63939A;
    font-weight: 600;
}


.widget-home-custom {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.modal-catalogo-op:hover, .modal-catalogo-op.active:hover, .modal-catalogo-op.active:focus   {
    background-color: #93BAC0;
    color: #f9fafc;
    text-decoration: none;
}

.modal-header {
	background-color: #0D3862;
    color: white;
}
.header-pages {
    background-color: #FFFFFF;
    color: white;
    color: #737C7D;
    padding: 1px 15px 15px;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-body {
	    height: 100%;
    position: relative;
    overflow-y: hidden;
}


.table-bc thead > tr > th {
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px
}


.center-block {
	float:none;
	margin: 0 auto;
}

.btn-bc {
    background-color: #787879;
    border-color: #98999A;
    color: #ffffff;
}

.btn-bc:hover {
    color: white;
    background-color: #555556;
}

.center-footer {
    position: relative;
    text-align: center;
}

.tablaTicketBc {
     min-height: 350px;
}

@media (max-width: 991px) {
	#page-container {
	    width: 100%;
	}

	.content-header-media > img {
	    height: 200px;
	}

}


@media (max-width: 500px) {

	.content-header-media {
    	height: 100px;
	}
	.content-header-media > img {
	    height: 100px;
	}
}

@media screen and (min-width: 1px) {
.block, .widget {
    margin-bottom: 16px;
}